@import 'tailwindcss';
/* Ocultar scrollbar visualmente pero mantener el scroll funcional */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.item-settings-desktop {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  cursor: pointer;
  color: #000; /* text-black */
  background-color: transparent;
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-radius: 0.5rem; /* rounded-lg */
  transition-property: background-color, color;
  transition-duration: 150ms; /* transition-colors */
}

.item-settings-desktop:hover {
  background-color: #f5f5f5; /* hover:bg-neutral-100 */
}

@media (prefers-color-scheme: dark) {
  .item-settings-desktop {
    color: #fff; /* dark:text-white */
  }
  .item-settings-desktop:hover {
    background-color: #23272b; /* dark:hover:bg-neutral-800 */
  }
}

:root {
  --color-first: #000000a8;
  --color-second: #00000069;
  --color-third: #685afcb4;
  --color-fourth: #64aeeb81;
  --color-fifth: #4f3c58;
  --color-sixth: #ab73c5;
  --color-seven: #e3e7ec5e;


  /* Variable base corregida */
  --bg-base: #efeaff;
}



/* clase utilitaria que puedes usar junto a utilidades Tailwind */
.bg-first {
  background-color: var(--color-first);
}
.bg-second {
  background-color: var(--color-second);
}
.bg-third {
  background-color: var(--color-third);
}
.bg-fourth {
  background-color: var(--color-fourth);
}
.bg-fifth {
  background-color: var(--color-fifth);
}
.bg-sixth {
  background-color: var(--color-sixth);
}
.bg-seven {
  background-color: var(--color-seven);
}

textarea {
  line-height: 24px;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.heart-animate {
  animation: heartBeat 0.4s ease;
}

.bx {
  transition: transform 0.2s ease, color 0.2s ease;
}
