@import 'tailwindcss';
/* Ocultar scrollbar visualmente pero mantener el scroll funcional */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
